body {
    background-color: powderblue;
}
hr {
  border-style: none;
  border-top: dotted;
  border-color: blueviolet;
  border-width: 5px;
}
h1 {
  color: purple;
}
h2 {
  color: purple;
}
p {
  color: red;
}